.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background-color: #f7931a;
  color: white;
  z-index: 1000;
}
.header .container {
  width: 100%;
  height: 100px;
  max-width: 1200px; /* 최대 너비 */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px; /* 좌우 패딩 추가 */
  margin: 0 auto; /* 중앙 정렬 */
  background-color: #f7931a;
}
.header .container .login {
  display: flex;

  gap: 20px;
}

.header .container .title {
  display: flex;
  justify-content: center; /* 가운데 정렬 */
}
